@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Orbitron", sans-serif;
  background: #1d232a;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #1d232a;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a5568;
}
